'.source.js':

  # Global

  'EFF':
    prefix: 'lc_eff'
    body: 'const EFF = require("lovec/glb/GLB_eff");'

  'JAVA':
    prefix: 'lc_java'
    body: 'const JAVA = require("lovec/glb/GLB_java");'

  'PARAM':
    prefix: 'lc_param'
    body: 'const PARAM = require("lovec/glb/GLB_param");'

  'SAVE':
    prefix: 'lc_save'
    body: 'const SAVE = require("lovec/glb/GLB_save");'

  'TIMER':
    prefix: 'lc_timer'
    body: 'const TIMER = require("lovec/glb/GLB_timer");'

  'VAR':
    prefix: 'lc_var'
    body: 'const VAR = require("lovec/glb/GLB_var");'

  'VARGEN':
    prefix: 'lc_gen'
    body: 'const VARGEN = require("lovec/glb/GLB_varGen");'

  # Global (box)

  'ANNO':
    prefix: 'lc_anno'
    body: 'const ANNO = require("lovec/glb/BOX_ANNO");'

  'TRIGGER':
    prefix: 'lc_trigger'
    body: 'const TRIGGER = require("lovec/glb/BOX_trigger");'

  # Common

  'RUN_xxx':
    prefix: 'lc_run'
    body: 'const ${1:name} = require("lovec/run/${1:name}");'

  'FRAG_xxx':
    prefix: 'lc_frag'
    body: 'const ${1:name} = require("lovec/frag/${1:name}");'

  'MDL_xxx':
    prefix: 'lc_mdl'
    body: 'const ${1:name} = require("lovec/mdl/${1:name}");'

  'TP_xxx':
    prefix: 'lc_tp'
    body: 'const ${1:name} = require("lovec/tp/${1:name}");'

  'PARENT':
    prefix: 'lc_parent'
    body: 'const PARENT = require("lovec/temp/${1:type}/${2:name}");'

  'CLS_contentTemplate':
    prefix: 'lc_rootparent'
    body: 'const PARENT = require("lovec/cls/util/CLS_contentTemplate");'

  'INTF':
    prefix: 'lc_interface'
    body: 'const INTF = require("lovec/temp/intf/INTF_${1:name}");'

  'TEMPLATE':
    prefix: 'lc_temp'
    body: 'const TEMPLATE = require("lovec/temp/${1:type}/${2:name}");'
